* {
    box-sizing: border-box;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #f4dcdc;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .heading-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  
    /* margin-bottom: 20px; */
  }
  
  .heading {
    font-size: 16px;
    margin: 0;
    font-weight: bold;
  
    color: #333;
  
    text-align: left;
  }
  .container {
    width: 30%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    gap: 20px;
  
    background-color: #fff;
    padding: 15px;
  }
  .vidget-wrapper {
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .progress-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 150px;
    height: 150px;
  }
  
  .progress {
    display: block;
  }
  
  .progress-circle {
    transition: stroke-dashoffset 0.3s ease;
  }
  .controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  
  .controls__control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 180px;
  }
  
  .controls__label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #c7c3c4aa;
    width: 100%;
  }
  
  .controls__input {
    outline: none;
  }
  
  .controls__input--number {
    max-width: 40px;
    margin: 0;
    color: #c7c3c4aa;
    padding: 2px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #c7c3c4aa;
    border-radius: 20px;
    background-color: #f5f5f5;
    transition: border-color 0.2s ease-in-out;
  }
  
  .controls__input--number:focus {
    border-color: #d4e7f1;
  }
  
  .controls__input--checkbox {
    display: none;
  }
  
  .controls__toggle {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #99a2ad;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .controls__toggle::before {
    content: "";
    z-index: 5;
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: transform 0.2s ease-in-out;
  }
  
  .controls__toggle::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: none;
    border-radius: 50%;
    border: 2px solid #838a93;
    top: 4px;
    left: 24px;
    /* transition: all 0.3s ease-in-out; */
  }
  
  .controls__input--checkbox:checked + .controls__toggle {
    background-color: #d4e7f1;
  }
  
  .controls__input--checkbox:checked + .controls__toggle::before {
    transform: translateX(20px);
  }
  
  .controls__input--checkbox:checked + .controls__toggle::after {
    border: none;
    background-color: #fff;
    width: 3px;
    height: 12px;
    border-radius: 2px;
    top: 4px;
    left: 8px;
  }
  
  .controls__text {
    font-size: 16px;
    font-weight: 500;
    color: #333;
  }
  
  @media (max-width: 680px) {
    .container {
      min-width: 70%;
      min-height: 80%;
      height: 80%;
    }
    .vidget-wrapper {
      
      flex-direction: column;
      height: 100%;
    }
    .progress-wrapper {
      min-width: 80%;
  
      flex: 6;
    }
    .controls {
      flex: 5;
    }
  }
  
  @media (max-width: 450px) {
    .container {
      width: 100%;
      height: 100%;
    }
  }
  
  @media (orientation: landscape) and (max-height: 500px) {
    .container {
      width: 100%;
      height: 100%;
    }
    .vidget-wrapper {
      flex-direction: row;
      gap: 30px;
      justify-content: space-between;
      align-items: center;
  
      padding-left: 0;
      padding-right: 0;
    }
  
    .controls {
        padding-left:3rem ;
      align-items: flex-start;
    }
    .progress-wrapper {
      flex: 1;
      max-width: 50%;
      min-width: 20%;
    }
    .controls {
      flex: 1;
      align-items: flex-start;
      gap: 20px;
    }
  }
  